@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 11, 11, 12;  /* #1A1D29 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 11, 11, 12;  /* #1A1D29 */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #0e0e0e;
  font-family: 'Rubik', sans-serif;
  overflow: hidden;
}
.navbar {
  position: relative; /* or fixed, or absolute, or sticky */
  z-index: 2147483647;
}

@font-face {
  font-family: 'Rubik';
  src: url('/fonts/Rubik-VariableFont_wght.woff2') format('woff2'),
       url('/fonts/Rubik-VariableFont_wght.woff') format('woff');
  font-weight: normal, bold, black;
  font-style: normal;
}

.memswap [color='container'] > div > div:nth-child(3) {
  position: relative;
  box-shadow: 0px 40px 150px 0px hsla(220, 13%, 68%, 0.16);
}
