@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 11, 11, 12;  /* #1A1D29 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 11, 11, 12;  /* #1A1D29 */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@font-face {
  font-family: 'Rubik';
  src: url('/fonts/Rubik-VariableFont_wght.woff2') format('woff2'),
       url('/fonts/Rubik-VariableFont_wght.woff') format('woff');
  font-weight: normal, bold, black;
  font-style: normal;
}

body {
  font-family: 'Rubik', sans-serif; /* Use the font, and provide a fallback */
}

.component-wrapper {
  position: relative;
}

.overlay-component {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; /* This will make sure the component is on top */
}
